<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' class='bi bi-cart4' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z'/%3E%3C/svg%3E" sizes="any" type="image/svg+xml">
  </head>
<body>
    <!-- Inicio de la barra de navegación -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Sistema de gestión de productos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Gestión de productos</a>
              </li>
            </ul>
          </div>
          <!-- Inicio Return arrow -->
          <div class="">
            <a th:href="@{/}"><i class="bi bi-arrow-left px-3" style="color: rgb(255, 255, 255);"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg></i></a>
          </div>
          <!-- Fin Return arrow -->
          <!-- Inicio Home icon -->
          <div class="">
            <a th:href="@{/}"><i class="bi bi-house-fill px-3" style="color: rgb(255, 255, 255);"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
              <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg></i></a>
          </div>
          <!-- Fin home icon -->
        </div>
    </nav>
    <!-- Final de la barra de navegación -->
    

<!--Inicio del contenedor general-->
<div class="container mt-4">
    <div class="row">
      <h1>Lista de productos</h1>
    </div>

     <!-- Mensaje de guardado con éxito -->
  <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
  th:text="${mensaje}"
  class="alert">
</div>

    <div class="row">
      <div class="row">
        <div class="col-lg-3">
          <a th:href="@{/products/new}" class="btn btn-primary btn-sm mb-3"
            >Agregar producto</a
          >
        </div>
      </div>
    </div>
  </div>
  <!--Fin del contenedor general-->

  <!--Inicio de la tabla-->
  <div class="container container-fluid">
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Nombre del producto</th>
          <!-- <th>Tipo de producto</th> -->
          <th>Precio unitario</th>
          <th>Cantidad en inventario</th>
          <th>Nombre del proveedor</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="product: ${products}">
          <td th:text="${product.productName}"></td>
          <!-- <td>
            <th:block th:each="type,iter: ${product.type}">
              <label th:text="${type.name}" />
              <th:block th:if="${!iter.last}">, </th:block>
            </th:block>
          </td> -->
          <td th:text="${product.productPrice}"></td>
          <td th:text="${product.cantidadProducto}"></td>
          <td th:text="${product.proveedorProducto}"></td>
          
          
          <td>
            <a
              th:href="@{/products/edit/{id}(id=${product.id})}"
              class="btn btn-primary"
              >Actualizar</a
            >
            <a
              th:href="@{/products/{id}(id=${product.id})}"
              class="btn btn-danger" onclick="return confirm('¿Estás seguro de eliminar este producto?');"
              >Borrar</a
            >
          </td> 
        </tr>
      </tbody>
    </table>
  </div>
  <!--Fin de la tabla-->
</body>
</html>